
.btn-add1 {
    color: #fff;
    background-color: #9a10cb;
    font-size: 30px !important;
    font-weight: bold !important;
    height: 50px;
  }
 
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  thead {
    background-color: #2ed47a;
    font-size: 20px;
  }
  
  tbody {
    font-size: 15px;
  }
  
  